/*Board height: 1680px
Board width: 2000px*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Board-holder {
  position: relative;
  height: 500px;
  width: 100%;
}

.display-holder {
  display: inline-flex;
  flex-direction: column;
}

.Board {
  background-color: rgba(25,25,25,1);
  height: 500px;
  z-index: -1;
}

.button-container {
  display: flex;
}

.display-panel {
  position : absolute;
  background-color: red;
  /*opacity: 0;*/
  opacity: 0.6;
  transition: 0.3s;
  height : 9.8%;
  width : 21%;
  top : 70.24%;
  left : 14.3%;
}

.display-panel:hover {opacity: 0.6}

.chip {
  position : absolute;
  background-color: red;
  /*opacity: 0;*/
  opacity: 0.6;
  transition: 0.3s;
  height : 18.1%;
  width : 15.4%;
  top : 39.6%;
  left : 52.9%;
}

.chip:hover {opacity: 0.6}

.headers {
  position : absolute;
  background-color: red;
  /*opacity: 0;*/
  opacity: 0.6;
  transition: 0.3s;
  height : 46.07%;
  width: 19.15%;
  top : 34.64%;
  left : 74.5%;
}

.headers:hover {opacity: 0.6}

.switches {
  position: absolute;
  background-color: red;
  /*opacity: 0;*/
  opacity: 0.6;
  transition: 0.3s;
  height: 6.07%;
  width: 37.5%;
  top: 82.3%;
  left: 14.7%;
}

.switches:hover {opacity: 0.6}

.leds {
  position: absolute;
  background-color: red;
  /*opacity: 0;*/
  opacity: 0.6;
  transition: 0.3s;
  height: 5.83%;
  width: 35.4%;
  top: 74.2%;
  left: 37.05%;
}

.leds:hover {opacity: 0.6}

.power-switch {
  position: absolute;
  background-color: red;
  /*opacity: 0;*/
  opacity: 0.6;
  transition: 0.3s;
  height: 6.61%;
  width: 6.85%;
  top: 25.6%;
  left: 7.15%;
}

.power-switch:hover {opacity: 0.6}

.power-supply {
  position: absolute;
  background-color: red;
  opacity: 0.6;
  transition: 0.3s;
  left: 14.5%;
  top: 11.42%;
  width: 7.25%;
  height: 12.38%;
}

.power-supply:hover {opacity: 0.6;}


/*NEW*/
.usb-blaster {
  position: absolute;
  background-color: red;
  opacity: 0.6;
  transition: 0.3s;
  top: 10.65%;
  left: 22.7%;
  width: 8%;
  height: 12.9%;
}

.usb-blaster:hover {opacity: 0.6;}

.vga-dac {
  position: absolute;
  background-color: red;
  opacity: 0.6;
  transition: 0.3s;
  left: 33.15%;
  top: 6.31%;
  width: 21.1%;
  height: 17.86%;
}

.vga-dac:hover {opacity: 0.6;}

.ps2-port {
  position: absolute;
  background-color: red;
  opacity: 0.6;
  transition: 0.3s;
  left: 57.1%;
  top: 10.65%;
  width: 9.7%;
  height: 10.36%;
}

.ps2-port:hover {opacity: 0.6;}

.sd-card {
  position: absolute;
  background-color: red;
  opacity: 0.6;
  transition: 0.3s;
  left: 69.3%;
  top: 11.8%;
  width: 17.8%;
  height: 19.64%;
}

.sd-card:hover {opacity: 0.6;}

.sdram {
  position: absolute;
  background-color: red;
  opacity: 0.6;
  transition: 0.3s;
  left: 37.6%;
  top: 61.9%;
  width: 15%;
  height: 10%;
}

.sdram:hover {opacity: 0.6;}

.flash {
  position: absolute;
  background-color: red;
  opacity: 0.6;
  transition: 0.3s;
  top: 60.48%;
  left: 55.65%;
  width: 14%;
  height: 9.9%;
}

.flash:hover {opacity: 0.6;}

.usb-blaster-circuit {
  position: absolute;
  background-color: red;
  opacity: 0.6;
  transition: 0.3s;
  top: 49.76%;
  left: 13.75%;
  width: 20.65%;
  height: 13.3%;
}

.usb-blaster-circuit:hover {opacity: 0.6;}

.push-button {
  position: absolute;
  background-color: red;
  opacity: 0.6;
  transition: 0.3s;
  width: 20.5%;
  height: 5.95%;
  top: 81.73%;
  left: 54%;
}

.push-button:hover {opacity: 0.6;}

.display-holder .info-box {
  font-size: 20px;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius : 3px;
  background-color: white;
  border-color: black;
  overflow-y: auto;
  overflow-x: auto;
  opacity: 0.8;
  transition: 0.3s;
  z-index: 0;
  width: 595.234px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
